# 开启 ccache，镜像里包括配置文件
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_INCLUDE_CONFIG=y

CONFIG_SIGNED_PACKAGES=y

# 内网穿透
CONFIG_PACKAGE_luci-app-zerotier=y

# 翻墙
CONFIG_PACKAGE_luci-app-ssr-plus=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y

# Nas
CONFIG_PACKAGE_luci-app-aria2=m
CONFIG_PACKAGE_luci-app-cifsd=y
# CONFIG_PACKAGE_luci-app-qbittorrent=m
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_samba4-admin=m
CONFIG_PACKAGE_samba4-client=m
CONFIG_PACKAGE_samba4-utils=m

# Web
# https for uhttpd
CONFIG_PACKAGE_luci-ssl-openssl=y
# nginx for luci
CONFIG_PACKAGE_nginx-ssl=y
CONFIG_PACKAGE_fcgiwrap=y

## Buildin
# Luci Applications
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_usbutils=y

# CONFIG_PACKAGE_avahi-dbus-daemon=y
# CONFIG_PACKAGE_wsdd2=y

## Modules
# Luci Applications
# CONFIG_PACKAGE_luci-app-accesscontrol=m
# CONFIG_PACKAGE_luci-app-adbyby-plus=m
# CONFIG_PACKAGE_luci-app-advanced-reboot=m
# CONFIG_PACKAGE_luci-app-arpbind=m
# CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-baidupcs-web=m
# CONFIG_PACKAGE_luci-app-ddns=m
# CONFIG_PACKAGE_luci-app-filetransfer=m
CONFIG_PACKAGE_luci-app-guest-wifi=m
CONFIG_PACKAGE_luci-app-hd-idle=m
# CONFIG_PACKAGE_luci-app-kodexplorer=m
# CONFIG_PACKAGE_luci-app-meshwizard=m
# CONFIG_PACKAGE_luci-app-minidlna=m
# CONFIG_PACKAGE_luci-app-mwan3=m
# CONFIG_PACKAGE_luci-app-nlbwmon=m
# CONFIG_PACKAGE_luci-app-pptp-server=m
# CONFIG_PACKAGE_luci-app-qos=m
# CONFIG_PACKAGE_luci-app-ramfree=m
CONFIG_PACKAGE_luci-app-smartdns=m
# CONFIG_PACKAGE_luci-app-sqm=m
CONFIG_PACKAGE_luci-app-travelmate=m
# CONFIG_PACKAGE_luci-app-uhttpd=m
CONFIG_PACKAGE_luci-app-unblockmusic=m
CONFIG_PACKAGE_luci-app-unbound=m
# CONFIG_PACKAGE_luci-app-vsftpd=m
# CONFIG_PACKAGE_luci-app-watchcat=m
# CONFIG_PACKAGE_luci-app-webadmin=m
# CONFIG_PACKAGE_luci-app-wifischedule=m
# CONFIG_PACKAGE_luci-app-wol=m
# CONFIG_PACKAGE_luci-app-wrtbwmon=m
# CONFIG_PACKAGE_luci-app-docker=m

# Luci
# CONFIG_PACKAGE_luci-lib-json=m
# CONFIG_PACKAGE_luci-mod-rpc=m

# utils

# archive/compress
CONFIG_PACKAGE_tar=m
CONFIG_PACKAGE_zip=m
CONFIG_PACKAGE_bzip2=m
CONFIG_PACKAGE_gzip=m
# CONFIG_PACKAGE_lzmadec=m
# CONFIG_PACKAGE_lzmainfo=m
# CONFIG_PACKAGE_squashfs-tools-mksquashfs=m
# CONFIG_PACKAGE_squashfs-tools-unsquashfs=m
CONFIG_PACKAGE_unrar=m
CONFIG_PACKAGE_unzip=m
CONFIG_PACKAGE_xz=m
# CONFIG_PACKAGE_xz-utils=m
# CONFIG_PACKAGE_xzdec=m
# CONFIG_PACKAGE_xzdiff=m
# CONFIG_PACKAGE_xzgrep=m
# CONFIG_PACKAGE_xzless=m
# CONFIG_PACKAGE_xzmore=m

# 文件传输/版本
CONFIG_PACKAGE_git=m
CONFIG_PACKAGE_rsync=m

# 磁盘设备
CONFIG_PACKAGE_badblocks=m
CONFIG_PACKAGE_blkid=m
CONFIG_PACKAGE_blockdev=m
CONFIG_PACKAGE_cfdisk=m
CONFIG_PACKAGE_cgdisk=m
CONFIG_PACKAGE_hdparm=m
CONFIG_PACKAGE_lsblk=m
CONFIG_PACKAGE_smartd=m
CONFIG_PACKAGE_smartmontools=m

# 硬件/文件系统
CONFIG_PACKAGE_coremark=m
CONFIG_PACKAGE_e2fsprogs=m
# CONFIG_PACKAGE_ntfs-3g-utils=m
# CONFIG_PACKAGE_usb-modeswitch=m
# CONFIG_PACKAGE_usbreset=m

CONFIG_PACKAGE_diffutils=m
# CONFIG_PACKAGE_findutils-find=m
# CONFIG_PACKAGE_findutils-locate=m
# CONFIG_PACKAGE_findutils-xargs=m
# CONFIG_PACKAGE_nginx-all-module=m
# CONFIG_PACKAGE_nginx-mod-luci-ssl=y
# CONFIG_PACKAGE_nginx-mod-luci=m
# CONFIG_PACKAGE_nginx=m
CONFIG_PACKAGE_node-npm=m
CONFIG_PACKAGE_unbound-anchor=m
CONFIG_PACKAGE_unbound-control-setup=m
CONFIG_PACKAGE_unbound-control=m
CONFIG_PACKAGE_unbound-host=m
# CONFIG_PACKAGE_xinetd=m
# CONFIG_PACKAGE_zsh=m

## Options
# aria2
CONFIG_ARIA2_ASYNC_DNS=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_COOKIE=y
CONFIG_ARIA2_NOXML=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_SFTP=y
CONFIG_ARIA2_WEBSOCKET=y

# curl
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NO_SMB="!"
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y

# nginx
CONFIG_NGINX_DAV=y
# CONFIG_NGINX_FLV=y
CONFIG_NGINX_HEADERS_MORE=y
CONFIG_NGINX_HTTP_ACCESS=y
CONFIG_NGINX_HTTP_AUTH_BASIC=y
CONFIG_NGINX_HTTP_AUTH_REQUEST=y
CONFIG_NGINX_HTTP_AUTOINDEX=y
# CONFIG_NGINX_HTTP_BROTLI=y
CONFIG_NGINX_HTTP_BROWSER=y
CONFIG_NGINX_HTTP_CACHE=y
CONFIG_NGINX_HTTP_CHARSET=y
# CONFIG_NGINX_HTTP_EMPTY_GIF is not set
CONFIG_NGINX_HTTP_FASTCGI=y
CONFIG_NGINX_HTTP_GEO=y
CONFIG_NGINX_HTTP_GZIP=y
# CONFIG_NGINX_HTTP_LIMIT_CONN is not set
# CONFIG_NGINX_HTTP_LIMIT_REQ is not set
CONFIG_NGINX_HTTP_MAP=y
# CONFIG_NGINX_HTTP_MEMCACHED is not set
CONFIG_NGINX_HTTP_PROXY=y
CONFIG_NGINX_HTTP_REAL_IP=y
CONFIG_NGINX_HTTP_REFERER=y
CONFIG_NGINX_HTTP_REWRITE=y
# CONFIG_NGINX_HTTP_SCGI is not set
CONFIG_NGINX_HTTP_SECURE_LINK=y
CONFIG_NGINX_HTTP_SPLIT_CLIENTS=y
# CONFIG_NGINX_HTTP_SSI is not set
CONFIG_NGINX_HTTP_SUB=y
CONFIG_NGINX_HTTP_UPSTREAM_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_IP_HASH=y
CONFIG_NGINX_HTTP_UPSTREAM_KEEPALIVE=y
CONFIG_NGINX_HTTP_UPSTREAM_LEAST_CONN=y
CONFIG_NGINX_HTTP_USERID=y
# CONFIG_NGINX_HTTP_UWSGI is not set
CONFIG_NGINX_HTTP_V2=y
CONFIG_NGINX_LUA=y
CONFIG_NGINX_NAXSI=y
CONFIG_NGINX_PCRE=y
CONFIG_NGINX_RTMP_MODULE=y
CONFIG_NGINX_SSL=y
CONFIG_NGINX_STREAM_CORE_MODULE=y
CONFIG_NGINX_STREAM_SSL_MODULE=y
CONFIG_NGINX_STREAM_SSL_PREREAD_MODULE=y
CONFIG_NGINX_STUB_STATUS=y
CONFIG_NGINX_TS_MODULE=y

# rsync
CONFIG_RSYNC_acl=y
CONFIG_RSYNC_xattr=y
CONFIG_RSYNC_zlib=y

# samba4
CONFIG_SAMBA4_SERVER_ACL=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_QUOTAS=y
CONFIG_SAMBA4_SERVER_VFS=y

# squashfs
CONFIG_SQUASHFS_TOOLS_LZ4_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_LZO_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_XZ_SUPPORT=y

# tar
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_XZ=y
